body {
  margin: 0;
  font-family: 'Inclusive Sans', sans-serif;
  font-family: 'Varela Round', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.text{
  border: none;
  border-bottom: 3px solid rgb(21, 115, 71);
  outline: none;
}
.ribbon{
  background-color: rgb(21, 115, 71);
  height: 8px;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
}
.ques-card{
  background-color: rgb(245, 245, 245);
}